{# coaching/app/resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}
{% block body %}


	<section id="espace_sportif">
		<a class="titre" href="{{path('sportif')}}">Espace Sportif</a>
		<div class="bas">
			<a class="titre" href="{{path( 'fos_user_registration_register') }}">Inscription Sportif</a>
			<a class="titre" href="{{path( 'fos_user_profile_show') }}">Connexion</a>
		</div>
	</section>
	<section id="espace_coach">
		<a class="titre" href="{{path('coach')}}">Espace Coach</a>
		<div class="bas">
			<a class="titre" href="{{path( 'fos_user_registration_register') }}">Inscription Coach</a>
			<a class="titre" href="{{path( 'fos_user_profile_show') }}">Connexion</a>
		</div>
	</section>
	<section id="boutique">
		<a class="titre" href="{{path('boutique')}}">Boutique</a>
	</section>
	<section id="forum">
		<a class="titre" href="{{path('forum')}}">Forum</a>
		{#<div class="bas">
			<a class="titre" href="{{path('twitter_add')}}">twitter_homepage</a>
		</div>#}
	</section>

{% endblock %}