<html>
{% block stylesheets %}
<link rel="stylesheet" href="
	{{asset("bundles/coaching/css/style.css")}}" type="text/css" />
{% endblock %}	
<script src="{{asset('bundles/coaching/script/script.js')}}"></script>
<body>
	<div id="page">
	<h1>COACHING EXPRESS</h1>

	<section id="espace_sportif">
		<a class="titre" href="{{path('sportif')}}">Espace Sportif</a>
		<div id="bas">
			<a class="titre" href="{{path( 'fos_user_registration_register') }}">Inscription Sportif</a>
		</div>
	</section>
	<section id="espace_coach">
		<a class="titre" href="{{path('coach')}}">Espace Coach</a>
	</section>
	</div>
</body>
</html>